@import models.DataModel
@import helper._

@(dataForm: Form[DataModel])(implicit request: RequestHeader, messages: Messages)

@main("Add Book"){
  <div class="container mb-5">
  @helper.form(action = routes.ApplicationController.addBookForm()) {
    @helper.CSRF.formField
    @helper.inputText(dataForm("_id"))
    @helper.inputText(dataForm("name"))
    @helper.inputText(dataForm("description"))
    @helper.inputText(dataForm("pageCount"))
    <input class="submitButton" type="submit" value="Submit">
    }
  </div>

  <div class="container mb-5">
    <p><a href="@routes.HomeController.index()"> Back </a></p>
  </div>
}
