@import models.DataModel
@import helper._

@*RequestHeader needed for form with CRSF, messages needed for specific form defined in DataModel*@
@(dataForm: Form[DataModel])(implicit request: RequestHeader, messages: Messages)

@main("Add Book"){
  <div class="container mb-5">
    <h2>Add a book</h2>
    @helper.form(action = routes.ApplicationController.addBookForm()) {
      @helper.CSRF.formField
      @helper.inputText(dataForm("_id"), Symbol("_label") -> "ID")
      @helper.inputText(dataForm("name"), Symbol("_label") -> "Title", Symbol("size") -> "40")
      @helper.textarea(dataForm("description"), Symbol("_label") -> "Description", Symbol("rows") -> "5", Symbol("cols") -> "70")
      @helper.inputText(dataForm("pageCount"), Symbol("_label") -> "Page count")
      <input class="button-link" type="submit" value="Submit">
      }
    <br>
    <p><a href="@routes.HomeController.index()"> Back </a></p>
  </div>
}
