@(bookData: DataModel)
@main("Find Book in Database"){
  <h1>Google Books API Project</h1>

  <h2>Book details</h2>
  <p>Book ID: @bookData._id</p>
  <p>Title: @bookData.name</p>
  <p>Description: @bookData.description</p>
  <p>Page count: @bookData.pageCount</p>

  @if(!(bookData._id == "Not found" && bookData.name == "N/A")) {
    <form action="@routes.ApplicationController.updateBook(bookData._id)" method="GET" class="button-form">
      <button type="submit">Update</button>
    </form>
    <form action="@routes.ApplicationController.deleteBook(bookData._id)" method="GET" class="button-form">
      <button type="submit">Delete</button>
    </form>
  }

  <p><a href="@routes.HomeController.index()"> Back </a></p>
}