@import helper._

@()(implicit request: RequestHeader)

@main("Play Scala API demo") {

<div class="container h-100 d-flex justify-content-center">

  <div class="jumbotron my-auto">

    <div class="container mb-5">
      <h1 class="display-3 row">Play Scala API Demo. Welcome to Play!</h1>
    </div>

    <p class="lead">
      A demo project based off the <a href="https://github.com/miranda-hawkes/induction-tutorials/blob/master/Building-A-RESTful-API-With-Scala-Play/README.md"> Building a RESTful API with Scala and Play </a> tutorial.
    </p>

    <p class="lead mb-5">This project is deployed via Heroku.</p>

    <h3>API Documentation</h3>
    <div class="justify-content-center">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">URL</th>
          <th scope="col">HTTP Method</th>
          <th scope="col">Required Header</th>
          <th scope="col">Body</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">/api</th>
          <td><code>GET</code></td>
          <td>None</td>
          <td>N/A</td>
        </tr>
        <tr>
          <th scope="row">/api</th>
          <td><code>POST</code></td>
          <td>Content-Type: application/json</td>
          <td><code>
            "_id" : String
            <br>
            "name" : String
            <br>
            "description" : String
            <br>
            "pageCount" : Int
          </code></td>
        </tr>
        <tr>
          <th scope="row">/api/:id</th>
          <td><code>GET</code></td>
          <td>None</td>
          <td>N/A</td>
        </tr>
        <tr>
          <th scope="row">/api/:id</th>
          <td><code>PUT</code></td>
          <td>Content-Type: application/json</td>
          <td><code>
            "_id" : String
            <br>
            "name" : String
            <br>
            "description" : String
            <br>
            "pageCount" : Int
          </code></td>
        </tr>
        <tr>
          <th scope="row">/api/:id</th>
          <td><code>DELETE</code></td>
          <td>Content-Type: application/json</td>
          <td>N/A</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="container mb-5">
    <p><a href="@routes.ApplicationController.listAllBooks()"> Show all books in database </a></p>
    <p><a href="@routes.ApplicationController.addBook()"> Add a book </a></p>
  </div>

  <div class="container mb-5">
    <h3>Search book by ID</h3>
    @form(action = routes.ApplicationController.searchBookByID()) {
      @CSRF.formField
      <div>
        <input type="text" name="bookID" placeholder="Enter book ID" required>
        <button type="submit">Search</button>
      </div>
    }
    <br>
    <h3>Search book by title</h3>
    @form(action = routes.ApplicationController.searchBookByTitle()) {
      @CSRF.formField
      <div>
        <input type="text" name="title" placeholder="Enter title" required>
        <button type="submit">Search</button>
      </div>
    }
    <br><br>
    <h3>Search Google Books API</h3>
@*    <p> Books will be added to database </p>*@
    <p> Format is <i>https://www.googleapis.com/books/v1/volumes?q=<b>(search)</b>+<b>(keyword)</b>:<b>(term_value)</b></i> </p>
    <p> See <a href="https://developers.google.com/books/docs/v1/using?hl=en"> here </a> for more information (scroll down to "Performing a search") </p>
    <p> e.g. search = decagon, keyword = isbn, term_value = 9781782276340 <br>
      => https://www.googleapis.com/books/v1/volumes?q=<b>decagon</b>+<b>isbn</b>:<b>9781782276340</b> </p>
    @form(action = routes.ApplicationController.searchGoogleAndDisplay()) {
      @CSRF.formField
      <div>
        <input type="text" name="search" placeholder="search">
        <select name="keyword" required>
          <option value="" disabled selected>Select keyword</option>
          <option value="intitle">intitle</option>
          <option value="inauthor">inauthor</option>
          <option value="inpublisher">inpublisher</option>
          <option value="subject">subject</option>
          <option value="isbn">isbn</option>
          <option value="lccn">lccn</option>
          <option value="oclc">oclc</option>
        </select>
        <input type="text" name="term_value" placeholder="term_value">
        <button type="submit">Search</button>
      </div>
      <div>
        @*If the checkbox is checked, the server will receive add_to_database=true. If not, the add_to_database field will not be included in the form data*@
        <input type="checkbox" name="add_to_database" value="true"> Add search results to database?
      </div>
    }
  </div>

</div>
}
